<div class="border" id="div">
    <form>
        <table class="table1">
        <tr>
            <td><label for="disName">District Name</label></td>
            <td><input id="disName" type="text" class="form-control" required></td>
        </tr>
        <tr>
            <td><label for="area">Area (sq mt)</label></td>
            <td><input id="area" type="number" class="form-control" required></td>
        </tr>
        <tr>
            <td><label for="population"> Population</label></td>
            <td><input id="population" type="number" class="form-control" required></td>
        </tr><br>
        <tr>
            <td colspan="2" id="submitbutton"><button type="submit">SAVE</button></td>
        </tr>
        </table>
    </form><br><br>
    <div class="border">
        Biggest District (Area wise)
        <table>
            <tr>
                <td style="width: 45%;"><input type="radio" name="radio1" aria-checked="true">Chennai</td>
                <td style="width: 45%;"><input type="radio" name="radio1" checked>Coimbatore</td>
                <td style="width: 45%;"><input type="radio" name="radio1">Salem</td>
            </tr>
        </table>
    </div><br>
    <div class="border">
        Biggest District (Area wise)
        <table>
            <tr>
                <td style="width: 45%;"><input type="radio" name="radio2" checked>Chennai</td>
                <td style="width: 45%;"><input type="radio" name="radio2" id="radios">Coimbatore</td>
                <td style="width: 45%;"><input type="radio" name="radio2">Salem</td>
            </tr>
        </table>
    </div>
</div>
